 <!--ABOUT-->
    <section class="about">
        <div class="content-about">
            <div id="content-image">
                <img id="about-image" src="https://www.trecebits.com/wp-content/uploads/2019/01/Fotograf%C3%ADas.jpg">
            </div>
            <div id="about-information">
                <h3>Acerca de nosotros</h3>
                <h2>LA SEDE DE LA FOTOGRAFÍA E ILUSTRACIÓN</h2>
                <p>El mundo del arte siempre ha sido un mundo en el que muchas de sus disciplinas han ido unidas o se han llegado a solapar. Sin ir más lejos, hay muchos pintores que han hecho sus pinitos dentro del mundo de la fotografía, o viceversa, al igual que otros tantos artistas. Hace no mucho, os mostramos el proyecto "Pencil vs Camera" de Ben Heine, en el que superponía en una fotografía un trozo de dibujo realizado en una hoja de papel con el fondo de la misma.</p>
                <p>En éste, el concepto es parecido pero con un cierto cambio; y es que la ilustración se produce después de estar realizada la fotografía, lo que podríamos catalogar como un "fotomontaje", aunque con tintes claros de lo que llamamos "Cartoons".</p>
                <button>MÁS INFORMACIÓN</button>
            </div>
        </div>
    </section>
<!--END ABOUT-->