<!--CONTACTS-->
    <section class="contacts">
        <div class="content-contacts">
            <div id="contacts-information">
                <h3>➤ DIRECCIÓN</h3>
                <p>AV. AMAZONAS Y GUAYAQUIL, LATACUNGA, COTOPAXI, ECUADOR</p>
                <h3>✉ EMAIL</h3>
                <p><a href="mailto:email@gmail.com">EMAIL@GMAIL.COM</a></p>
                <p><a href="mailto:email@outlook.com">EMAIL@OUTLOOK.COM</a></p>
                <h3>☏ TELÉFONO</h3>
                <p><a href="tel:+593 988237106">+593 988237106</a></p>
            </div>
        </div>  
    </section>
<!--END OF CONTACTS-->