<!--FOOTER-->
    <footer class="footer">
        <div class="content-footer">
            <p>&copy;&nbsp;</p>
            <p>LA SEDE DE LA FOTOGRAFÍA E ILUSTRACIÓN, &nbsp;</p>
            <p>DERECHOS RESERVADOS - {{getAnio}}</p>
        </div>
    </footer>
<!--END FOOTER-->
</body>
</html>