<!--HEADER-->
    <header class="header">
        <div class="banner">
            <div>
                <h3>SABEMOS QUE EL</h3>
                <h3>TIEMPO</h3>
                <h3>es <strong>ORO</strong>, por eso lo</h3>
                <h3>Capturamos</h3>
            </div>
            <div>
                <h1>SERVICIO DE FOTOGRAFÍA E ILUSTRACIÓN</h1>
            </div>
            <button>EXPLORAR</button>
        </div>
    </header>
<!--END HEADER-->

<!--CONTENT DIVIDER-->
    <div class="content-divider"></div>
<!--END CONTENT DIVIDER-->